<!DOCTYPE html>
<html>
  <head>
    <title>DivinationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
    <header>
      <div class="heading">
        <h1 class="title">Divination App</h1>
      </div>
      <div class="navbar">
        <div class="nav-list">
          <li class="nav-new">
            新規登録
          </li>
          <li class="nav-login">
            ログイン
          </li>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <footer class="footer">
        <p class="copyright">Copyright © DIVINATION APP All rights reserved.</p>
      </footer>
    </footer>
  </body>
</html>
